h1{
    text-align: center;
}

li{
    font-size: 16px;
    color: #333;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: bold;
}

.delete-btn{
    text-decoration: none;
    float: right;
    font-size: smaller;
    color: black;
}

#form{
    text-align: center;
}
